body {
	text-align: center;
}
#main {
	width: 2000px;
	height:3000px;
	background: #D8E0EA;
	margin:auto;
}
h1 {
	text-align: center;
	font-family: "Agency FB";
	font: 24pt;
	color:#000000;
}
p {
	text-align: center;
	font-family: "Agency FB";
	font:28pt;
	color:#000000;
}
hr {
	height: 2px;
	color: #DF0101;
}
#Port {
	width: 2000px;
	height: 3000px;
	background: #D8E0EA;
	margin:auto;
}
h2 {
	text-align: center;
	font-family: "Agency FB";
	font: 24pt;
	color:#000000;
	padding: 0px;
}
